body {
    margin: 0;
    padding: 0;
}

.habit-zone {
    display: flex;
    flex-direction: row;

    /* options */
    flex-wrap: wrap;
}

.habit {
    /* background-color: red; */
    width: 40%;
    margin: 0 auto;
    margin-top: 1rem;
    max-width: 20rem;
}

.habit-title {
    font-size: 2em;
    background-color: black;
    color: white;
}

.habit-body {
    background-color: white;
    color: black;
    border: 5px solid black;
}